@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .job-description p {
    color: #000000a3;
    margin-bottom: 20px;
  }

  .job-description h2,
  .job-description h1,
  .job-description h3,
  .job-description h4,
  .job-description h5,
  .job-description h6 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 15px;
    color: #364153;
  }
  .job-description ul li,
  .job-description ol li {
    margin-bottom: 8px;
    list-style: decimal;
    margin-left: 20px;
    color: #000000a3;
  }
}
/* .input-style {
  @apply w-full border border-gray-300 rounded-lg p-3 bg-gray-50
         focus:outline-none focus:ring-2 focus:ring-blue-500 transition;
}
.card { @apply bg-white p-6 rounded-2xl shadow; }
.section-title { @apply text-xl font-semibold mb-4; }
.input-style { @apply w-full border rounded-lg p-3 bg-gray-50 focus:ring-2 focus:ring-blue-500; }
.btn-primary { @apply bg-blue-600 text-white px-8 py-4 rounded-xl font-semibold disabled:opacity-50; }
.btn-danger { @apply flex items-center gap-2 bg-red-600 text-white px-4 py-2 rounded-lg; }
.photo-upload { @apply w-32 h-32 rounded-full border-2 border-dashed flex items-center justify-center cursor-pointer overflow-hidden; }
.photo-preview { @apply w-full h-full object-cover; } */